Answer for 1st Question

In [1]:
a="Bhushan"

In [2]:
ls=["a",123,43.55]

In [4]:
flo=123.454

In [5]:
tup=( "a", "abhi", 343, 456.556)

Answer for 2nd Question

In [8]:
var1 = '' 
type(var1)

str

In [11]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [16]:
var4=1
type(var4)

int

Answer for Question 3

1./ This operator is used to return the quotient
2.% This operator is used to return the reminder
3.// used for floor division
4.** used to calculate the power of the number like 2**2=4

In [19]:
ls=[ 'abc', 123, 'a', [123, "anup", 473.45 ], 'arohi', ('kamal', 909.78 , 678), {"abhi", 345.23, 454}, {1:"sagar", 2:"shreya"}, "suman", 100]

In [20]:
for i in ls:
    print(i)

abc
123
a
[123, 'anup', 473.45]
arohi
('kamal', 909.78, 678)
{345.23, 'abhi', 454}
{1: 'sagar', 2: 'shreya'}
suman
100

Answer for Question 4

In [3]:
A = 36
B = 6

count = 0

while A % B == 0:
    A //= B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

1 is divisible by 6 and can be divided 2 times.

Answer for Question 5

In [4]:
data = [4, 9, 12, 15, 22, 27, 33, 40, 43, 48, 51, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120]

for num in data:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

4 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
22 is not divisible by 3.
27 is divisible by 3.
33 is divisible by 3.
40 is not divisible by 3.
43 is not divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
55 is not divisible by 3.
60 is divisible by 3.
65 is not divisible by 3.
70 is not divisible by 3.
75 is divisible by 3.
80 is not divisible by 3.
85 is not divisible by 3.
90 is divisible by 3.
95 is not divisible by 3.
100 is not divisible by 3.
105 is divisible by 3.
110 is not divisible by 3.
115 is not divisible by 3.
120 is divisible by 3.

Answer for Question 5

In Python, mutable and immutable are two fundamental properties of data types that determine whether their values can be changed after they are created. Here's a brief explanation of mutable and immutable data types:

Mutable Data Types: Mutable data types are those whose values can be modified or changed after they are created. When a mutable object is modified, it is modified in place, meaning the original object is directly updated. Examples of mutable data types in Python include lists, dictionaries, and sets.

In [5]:
# Example of a mutable data type: list
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)  # Modifying the list by adding an element
print(my_list)  # Output: [1, 2, 3, 4]

my_list[0] = 10  # Modifying the list by changing an element
print(my_list)  # Output: [10, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]
[10, 2, 3, 4]

In this example, a list my_list is created with initial values [1, 2, 3]. The append() method is used to add the element 4 to the list, modifying it in place. Additionally, the value at index 0 is changed to 10 using assignment, further modifying the list.

Immutable Data Types: Immutable data types, on the other hand, are those whose values cannot be modified once they are created. Instead of modifying an immutable object, a new object is created with the modified value. Examples of immutable data types in Python include integers, floats, strings, and tuples.

In [6]:
# Example of an immutable data type: string
my_string = "Hello"
print(my_string)  # Output: Hello

my_string += ", world!"  # Concatenating a string to the original string
print(my_string)  # Output: Hello, world!

# Example of an immutable data type: tuple
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)

# Attempting to modify the tuple by changing an element
my_tuple[0] = 10  # Raises a TypeError: 'tuple' object does not support item assignment

Hello
Hello, world!
(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In the first part of the example, a string my_string is created with the initial value "Hello". The += operator is used to concatenate ", world!" to the original string, resulting in a new string object "Hello, world!".

In the second part, a tuple my_tuple is created with initial values (1, 2, 3). When attempting to change an element of the tuple using assignment (my_tuple[0] = 10), a TypeError is raised because tuples are immutable, and their elements cannot be modified.

To summarize, mutable data types allow modifications to their values in place, while immutable data types require the creation of new objects with modified values.