# Q1: What is a database? Differentiate between SQL and NoSQL databases.
Database: A database is an organized collection of structured information, or data, typically stored electronically in a computer system. Databases allow users to store, manage, and retrieve data quickly and securely through database management systems (DBMS).
SQL vs NoSQL Databases:
SQL (Relational) Databases: Use structured query language (SQL) for defining and manipulating data. They are based on a table structure, which involves data being set up in rows and columns. SQL databases are vertically scalable and use a schema to define the structure of data, including tables, fields, and relationships. Examples include MySQL, PostgreSQL, and Oracle.
NoSQL (Non-Relational) Databases: Do not use SQL and are built to store and manage data in ways that allow for high operational speed and flexibility on a large scale. They are horizontally scalable and use a variety of data models, including key-value, document, columnar, and graph formats. Examples include MongoDB, Cassandra, and Neo4j.
# Q2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Answer: Data Definition Language (DDL) consists of the SQL commands that can be used to define the database schema. It primarily includes commands such as CREATE, DROP, ALTER, and TRUNCATE.

CREATE: Used to create a new table or database.
Example: CREATE TABLE students (id INT, name VARCHAR(50));
DROP: Used to delete a table or database.
Example: DROP TABLE students;
ALTER: Used to modify an existing database structure, such as adding or dropping columns.
Example: ALTER TABLE students ADD COLUMN age INT;
TRUNCATE: Used to delete all rows in a table without logging the individual row deletions.
Example: TRUNCATE TABLE students;

# Q3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer: Data Manipulation Language (DML) includes commands that are used to manipulate data in the existing tables.

INSERT: Used to insert data into a table.
Example: INSERT INTO students (id, name, age) VALUES (1, 'Alice', 21);
UPDATE: Used to modify existing data within a table.
Example: UPDATE students SET age = 22 WHERE id = 1;
DELETE: Used to remove records from a table.
Example: DELETE FROM students WHERE id = 1;

# Q4: What is DQL? Explain SELECT with an example.
Answer: Data Query Language (DQL) is used to query data from the database. The primary DQL command is SELECT.

SELECT: Used to select data from a database. Data returned is stored in a result table, often called the result-set.
Example: SELECT name, age FROM students WHERE age > 20;

# Q5: Explain Primary Key and Foreign Key.
Answer:

Primary Key: A column or a set of columns that uniquely identifies each row in a table. It must contain unique values, and it cannot contain NULL values.
CREATE TABLE students (id INT PRIMARY KEY, name VARCHAR(100));


---
Foreign Key: A column or set of columns that links one table to another. It is a field in a table that is a primary key in another table. Example: CREATE TABLE enrollments (student_id INT, course_id INT, FOREIGN KEY (student_id) REFERENCES students(id));
# Q6: Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.


---

import mysql.connector

# Connect to MySQL database
db = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Cursor to execute SQL commands
cursor = db.cursor()

# Execute a query
cursor.execute("SELECT * FROM students")

# Fetch results
results = cursor.fetchall()
for result in results:
    print(result)

# Close the connection
cursor.close()
db.close()

Q7. Give the order of execution of SQL clauses in an SQL query.


---

FROM and JOIN
The database first looks at the FROM clause, which specifies the tables to retrieve data from, and any JOIN conditions specified.


---


WHERE
After determining which tables to use and how to join them (if applicable), the database filters the rows according to the conditions specified in the WHERE clause.


---


GROUP BY
If the query includes a GROUP BY clause, SQL groups the rows that have the same values in the specified columns into summary rows after the WHERE conditions are applied.


---


HAVING
This clause is used to filter groups created by the GROUP BY clause. It is processed after the GROUP BY clause.


---


SELECT
The columns listed in the SELECT clause are displayed in the output. This occurs after any possible grouping and filtering.


---


DISTINCT
If specified, duplicates are removed after the SELECT clause has determined which columns to display.


---


ORDER BY
This is one of the last clauses processed. It sorts the final result according to the specified columns. Sorting is done after all the other clauses have defined the result set.


---


LIMIT / OFFSET
Finally, these clauses restrict the number of rows returned by the query. They are applied last to the already sorted or processed result set.