In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
a = [4,8,15,16,23,42]

In [3]:
pd.Series(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
ls = [1,2,3,4,5,6,7,8,9,10]
pd.Series(ls)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
b = {

     'name':['Alice','bob', 'Claire'],
     'age': [25,30,27],
     'gender':['Female','Male','Female']

}

In [5]:
pd.DataFrame(b)

     name  age  gender
0   Alice   25  Female
1     bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas we have Data Frame which is also konw as 2D Array by which we can convert a tabular form of Data in to Row and Columns Data. We also have Series Data Type in Pandas which is equivalent to 1D array haveing only one Column in it.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

# Common Pandas DataFrame Manipulation Functions

## 1. `read_csv()`
- This function allows you to load data from a CSV file into a DataFrame.
- Example: Loading data from a CSV file named "data.csv":
  ```python
  import pandas as pd
  df = pd.read_csv("data.csv")

## 2. `fillna()`
- Use this function to replace missing values (NaN) in a DataFrame.
- Example: Filling missing values with zeros:
  ```python
  df.fillna(0, inplace=True)

## 3. `mean()`
- Calculates the mean (average) of a Series or DataFrame.
- Example: Finding the average score in a student DataFrame:
  ```python
  avg_score = df["Score"].mean()
## 4. `std()`
- Computes the standard deviation of a Series or DataFrame.
- Example: Calculating the standard deviation of exam scores:
  ```python
  score_std = df["Score"].std()
## 5. Adding a New Column
- You can create a new column based on existing data.
- Example: Adding a "Pass/Fail" column based on a score threshold:
  ```python
  df["Pass/Fail"] = df["Score"] >= 70

## 6. Removing Rows or Columns

Use `drop()` to remove specific rows or columns.

### Example: Removing rows with missing values

```python
df.dropna(inplace=True)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# Pandas Data Structures: Mutability Summary

## Series
- A Series is a one-dimensional labeled homogeneous array.
- It contains elements of the same data type.
- **Mutability**: A Series is value-mutable (you can change its values), but its size is immutable (you cannot change the number of elements).

## DataFrame
- A DataFrame is a two-dimensional labeled tabular structure with heterogeneous data (rows and columns).
- It's commonly used for data manipulation and analysis.
- **Mutability**: DataFrames are both value-mutable (you can modify values) and size-mutable (you can add or delete columns).

## Panel
- A Panel is a three-dimensional labeled array with heterogeneous data.
- It's less commonly used than Series and DataFrames.
- **Mutability**: Panels are size-mutable (you can append or delete elements).

In summary:
- **Series**: Value-mutable, size-immutable.
- **DataFrame**: Both value-mutable and size-mutable.
- **Panel**: Size-mutable.